*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 70%;
    background-color: #fff;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.notification{
    text-align: center;
    visibility: hidden;
}

.message{
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.header{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
}

.entry{
    display: flex;
    justify-content: center;
}

.input{
    font-size: 24px;
    color: rgb(100, 100, 100);
    padding: 0 15px;
    width: 70%;
    height: 40px;
    border: none;
    background-color: rgb(198, 198, 201);
    border-radius: 50px 0 0 50px;
}

.button{
    background-color: rgb(59, 245, 90);
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.grocery-list{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.list{
    display: grid;
    grid-template-columns: auto 40px 40px;
}

.list div{
    margin: 10px;
    font-size: 20px;
}

i{
    font-size: 17px;
    cursor: pointer;
}

.fa-pen-to-square{
    color: rgb(62, 62, 252);
}

.fa-trash{
    color: rgb(248, 39, 39);
}

.reset{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: rgb(248, 39, 39);
    cursor: pointer;
    visibility: hidden;
}